.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background: #f2f2f2;
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  header::after {
    content: '';
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2f80ed;
    z-index: 0;
    transform: rotate(-15deg);
    animation: rotation 20s infinite linear;
  }