/*Body/Page styles*/
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
  padding: 0;
}

/*Header Block Styles*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background: #f2f2f2;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  margin: 0 0 0 64px;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;
  transform: rotate(-15deg);
  animation: rotation 20s infinite linear;
}

/*Rotation Block Styles MOVE TO TOP OF FILE?*/
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Description Block Styles*/
.description {
  display:flex;
  justify-content: center;
  padding: 100px 0 0;
}

.two-columns {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 80%;
}

.two-columns__brief {
  max-width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  flex-basis: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph {
  padding: 0 0 30px;
  margin: 0;
}

.two-columns__paragraph:last-of-type {
  padding: 0;
}

/*Techniques Block Styles*/
.techniques {
  margin: 0;
}

.cards {
  max-width: 920px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  column-gap: 100px;
  justify-content: flex-start;
}

.cards__item {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content: center;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 60px 40px 43px;
  align-self: center;
}

.cards__title {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  text-align: center;
  margin: 0;
  padding: 16px 0 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}


/*Video Block Styles*/
/*put overflow: visible; to flow into next block? didnt work*/

.video {
  max-height: 540px;
  overflow: visible;
}

.video__iframes {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  padding: 50px 0 0;
}

/*Oakley Block Styles*/
.oakley {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 160px 0 0;
}

/*Feyman Block Styles*/
.feynman {
  min-height: 790px;
  padding: 80px 0 0;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
}

.feynman__title {
  text-align: center;
  max-width: 775px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
}

.feynman__subtitle {
  padding: 70px 0 0;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/*Digits Block Styles*/
.digits {
  margin: 0;
  /*padding: 100px 0;*/
}

.section-title {
  margin: 0 auto;
  padding: 100px 0 0;
  text-align: center;
  max-width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 0 auto;
  padding: 20px 0 0;
  text-align: center;
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  max-width: 1100px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;

}
.table__heading {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell {
  max-width: 250px;
  padding: 0;
  margin: 60px 0 0;
}

.table__text {
  padding: 20px 0 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*Khan Block Styles*/

/*Kaufman Block Styles*/
.kaufman {
  overflow: hidden;
  margin: 0;
  padding: 0 0 90px;
  background-color: #1f1f1f;
  color: white;
  position: relative;
}

.section-title_theme_dark {
  padding: 90px 0 0;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.section-subtitle_theme_dark {
  position: relative;
  z-index: 2;
}

.table_theme_dark {
  position: relative;
  z-index: 2;
}

.table__cell_theme_dark {
  margin: 80px 0 0;
  flex: 1 0 15%;
  color: white;
  max-width: 200px;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  top: 0;
  right: -124px;
  z-index: 1;
  animation: rotation 20s infinite linear;
}

/*Resources Block Styles*/
.resources__logo-zone {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 0 217px;
  list-style: none;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

/*Footer Block Styles*/
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  box-sizing: border-box;
  display: flex;
}

.footer__columns {
  display: flex;
  margin: 0 auto;
  padding: 60px 0 40px;
  justify-content: space-between;
  flex-basis: 90%;
}

.footer__column {
  margin: 0;
  display:flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  padding: 18px 0;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__column-heading {
  list-style: none;
  margin: 0;
  padding: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  list-style: none;
  padding: 0 0 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icons {
  padding: 0 10px 0 0;
  width: 16px;
  height: 16px;
}
