/*Body/Page styles*/
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
  padding: 0;
}

/*Header Block Styles*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background: #f2f2f2;
  display: flex;
  position: relative;
  align-items: center;
  /* parameters for the header section */
}

.logo_place_header {
  height: 31px;
  width: 154px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  margin-bottom: 0;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;

}

/*Main/Content Styles*/
.content {
}

/*Description Block Styles*/
.description {
  display:flex;
  justify-content: center;
  padding: 100px 0 0;
}

.two-columns {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 80%;
}

.two-columns__brief {
  flex-basis: 175px;
}

.two-columns__brief_subtitle {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  flex-basis: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph {
  padding: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
  padding: 0;
}


/*Digits Block Styles*/
.digits {
  margin: 0;
  padding: 100px 0;
}

.section-title {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 30px;
  justify-content: center;

}
.table__heading {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell {
  width: 250px;
  height: 154px;
  padding: 0;
  margin: 0;
}

.table__text {
  padding: 20px 0 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*Feyman Block Styles*/
.feynman {
  height: 790px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
}

.feynman__title {
  text-align: center;
  width: 775px;
  padding: 100px 0 0;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
}

.feynman__subtitle {
  padding: 70px 0 0;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/*Kaufman Block Styles*/
.kaufman {
  overflow: hidden;
  margin: 0;
  padding: 90px 0;
  background-color: #1f1f1f;
  color: white;
  position: relative;
}

.section-title_theme_dark {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle_theme_dark {
  margin: 0 auto;
  padding: 20px 0 0;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  width: 1100px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
  position: relative;
  z-index: 2;

}
.table__heading_theme_dark {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  padding: 20px 0 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  flex: 1 0 15%;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  top: 0;
  right: -162px;
  z-index: 1
}

/*Footer Block Styles*/
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  height: 100%;
  display: flex;
  padding: 60px 0 40px;
  justify-content: space-evenly;
  width: 90%;
  
}

.footer__column {
  margin: 0;
  display:flex;
  flex-direction: column;
  /*delete later:*/
  background-color: maroon;
}

.footer__column_content_copyright {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  flex-basis: 711px;
  justify-content: flex-end;
  display:flex;
}

.footer__column_content_copyright_place-end {
  padding: 18px 0;
  justify-self: flex-end;
}

.footer__column_content_about {
  /*flex: 1 0 30%;*/
}

.footer__column_content_social {

}

.logo_place_footer {
  width: 183px;
  height: 35px;
  /*align-self: flex-start;*/
}

.footer__column-heading {
  list-style: none;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  list-style: none;
  padding: 20px 0 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icons {
  padding: 0 10px 0 0;
  width: 16px;
  height: 16px;
}