/*Body/Page styles*/
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*Header Block Styles*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background: #f2f2f2;
  display: flex;
  position: relative;
  align-items: center;
  /* parameters for the header section */
}

.logo_place_header {
  height: 31px;
  width: 154px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  margin-bottom: 0;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  /*no clue how to get this to fit inside header container*/
  /*max-width: 100%;*/
  /*margin: 0;*/
  height: 608px;
  width: 756px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;

}

/*I dont know*/
/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/*Main/Content Styles*/
.content {
}

/*Description Block Styles*/
.description {
}

.two-columns {
  display:flex;
  justify-content: space-between;
  align-content: center;
  /*Problem is in html? Apply two diff flex parent containers? center and space-between can't exist together, one overrides other*/
  margin: 100px 0;
}

/*delete later, use to see flex-child behavior*/
.two-columns__brief {
  background-color: lightblue;
  border: 1px solid black;
}

.two-columns__brief_subtitle {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph {
   /*remove <br> from html and add margin bottom of 30px 0 top margin 0 L & R, nth of type last: 0*/
}

/*Digits Block Styles*/
.digits {
}

/*Feyman Block Styles*/
.feynman {
}

/*Kaufman Block Styles*/
.kaufman {
}

/*Footer Block Styles*/
.footer {
}
